.mj-teaser-section {
    background-color: var(--secondary-bg-color);
}

.mj-teaser-image-column {
    vertical-align: middle;
}

.mj-teaser-text-column {
    vertical-align: middle;
    padding: 0 30px;
}

.mj-teaser-text {
    font-size: 14px;
}

.teaser-text h2 {
    padding-bottom: 5px;   
}
